<app-modal-header></app-modal-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-margin-top">
        <ion-label color="dark" class="heading" margin-top>About</ion-label>
      </ion-col>

      <div class="details ion-margin-bottom">
        <ion-grid class="ion-no-padding ion-text-left">
          <ion-row>
            <ion-col size="12">
              <p>
                The SAMHSA Behavioral Health Disaster Response App was developed by the Substance Abuse and Mental Health Services Administration (SAMHSA) for use by behavioral health emergency
                responders. SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities. Visit
                <a href="https://www.samhsa.gov" target="_system">samhsa.gov</a> for more information. For publications and online products, visit
                <a href="https://www.store.samhsa.gov?utm_source=DisasterResponseApp&utm_medium=referral&utm_campaign=DRReferrals" target="_system">store.samhsa.gov</a>.
              </p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top">
            <ion-col size="3" class="image-block">
              <img src="../../../assets/images/web-awards.png" alt="" />
            </ion-col>
            <ion-col size="9">
              <p>The SAMHSA Behavioral Health Disaster Response App received a Silver Web Health Award in the mobile category, sponsored by the National Health Information Center!</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <h3>Having trouble with the app itself?</h3>
            </ion-col>

            <ion-col size="12">
              <p class="ion-no-margin">If you are having problems with the functionality of this app (i.e., navigation issues, problems refreshing, etc.), please contact us.</p>
            </ion-col>

            <ion-col size="12" class="ion-margin-top">
              <ion-button expand="full" href="mailto:SAMHSAInfo@samhsa.hhs.gov">Email SAMHSA</ion-button>
              <ion-button expand="full" href="tel:+18777264727">Call SAMHSA</ion-button>
            </ion-col>

            <ion-col size="12">
              <p>View <a href="https://www.samhsa.gov/privacy" target="_system">SAMHSA's privacy statement</a></p>
              <p>Version: <span id="app-version"></span></p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <h3>Disclaimer</h3>
              <p>
                The resources provided in this app are only a sampling of Federal and other resources that are available. Many other resources exist and are available online. Inclusion in this app
                does not constitute an endorsement by SAMHSA.
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
