ion-toolbar {
  display: flex;

  img {
    display: block;
    margin: auto;
    padding: 12px 0px 12px 65px;
    position: relative;
    left: -19px;
  }

  ion-button {
    .menu-icon {
      color: #fff
    }

    --background: transparent;

    ion-icon {
      color: white;
      font-size: 30px;
    }
  }

  img {
    display: block;
    margin: auto;
    padding: 12px 0px 12px 65px;
  }

  .back-button {
    ion-icon {
      color: #fff;
      font-size: 38px;
    }
  }
}

.none {
  display: none;
}