ion-tabs {

  ion-tab-bar {
    --background: var(--ion-tab-background-color);
    border-top: 1px solid #b6ad94;

    ion-tab-button {
      ion-icon {
        font-size: 35px;
        font-weight: bold;
        color: var(--ion-tab-icon-color)
      }

      ion-label {
        font-weight: bold;
        color: var(--ion-tab-icon-color)
      }
    }
  }
}

ion-tab-button.tab-selected {
  --background: var(--ion-selected-color);

  ion-icon,
  ion-label {
    color: var(--ion-tab-icon-color);
  }

  // ion-label {
  //   color: var(--ion-color-dark) !important;
  //   --ion-color-base: var(--ion-color-dark) !important;
  // }
}